<!DOCTYPE html>
<!--
 Copyright © 2021 Rémi Pace.
 This file is part of Abc-Map.

 Abc-Map is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 Abc-Map is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General
 Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
-->

<!-- Values surrounded by curly braces are templated server side -->

<html lang="{{{lang}}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>{{{title}}}</title>

    <style>
      html,
      body {
        height: 100%;
        max-height: 100%;
        min-height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        font-size: 16px;
      }

      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
      }

      section {
        margin: 5rem 0 10rem 0;
      }
    </style>
  </head>
  <body>
    <h1>Abc-Map</h1>

    <section>
      <h2>{{{title}}}</h2>
      <p>{{{message}}}</p>
    </section>
  </body>
</html>
