/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.mapContainer {
  flex-grow: 1;

  position: relative;

  display: flex;
  height: 100%;
  flex-direction: column;
}

.map {
  flex-grow: 1;
  height: 100%;
  background: $gray-200;
}

.dropOverlay1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #00000066;

  h1 {
    color: white;
  }

  :global(.abc-icon) {
    color: white;
    margin-bottom: 2rem;
  }
}

.dropOverlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.tileLoadError {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 0.2rem 1rem;
  cursor: pointer;

  background: $warning;

  z-index: $zIndex-mainMap-tileLoadError;
}

.bottomBar {
  position: absolute;
  bottom: 0.5rem;
  left: 25vw;
  right: 25vw;

  @include media-breakpoint-down(xl) {
    left: 2vmin;
    right: 2vmin;
  }

  height: 6vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.scale {
  box-shadow: $box-shadow;
}

.attributions {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
