/**
 * Copyright © 2022 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.card {
  display: flex;
  flex-direction: column;

  width: 18vw;
  min-width: 18rem;
  max-width: 25rem;
  min-height: 18rem;

  @include media-breakpoint-down(md) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  padding: 1rem;

  border: solid 1px $gray-400;
  border-radius: 0.2rem;

  box-shadow: $box-shadow;
}

.name {
  font-size: 1.3rem;
  font-weight: bolder;
}

.shortDescription {
  cursor: pointer;
  font-size: 1.1rem;
}
