/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */
@import 'src/styles/variables';
@import 'src/styles/mixins';

$height: 75vh;

.modal {
  height: $height;
  min-height: $height;

  display: flex;
  flex-direction: row;

  @include media-breakpoint-down(xl) {
    display: flex;
    flex-direction: column;
  }
}

.leftPanel {
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: solid $gray-300 0.1rem;

  min-width: 30%;
  width: 30%;
  height: 100%;

  @include media-breakpoint-down(xl) {
    width: 100%;
    height: auto;
    border: none;
  }
}

.rightPanel {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.subTitle {
  height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}
