/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.sharedMap {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.navigationButton {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1rem;
}

.mapContainer {
  position: relative;

  border: solid 0.1rem $gray-400;
  box-shadow: $box-shadow;
}

.map {
  width: 100%;
  height: 100%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .logo {
    height: 6rem;
    margin-bottom: 2rem;
  }

  .punchline {
    margin: 2rem;
    font-size: 1.2rem;
  }
}

.attributions {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
}
