/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.editor {
  counter-reset: line;
  border: 0.1rem solid #ced4da;

  pre {
    padding-left: 2.5rem !important;
  }
}

.textarea {
  outline: none;
  padding-left: 2.5rem !important;
}

.lineNumber {
  position: absolute;
  left: 0;
  color: #cccccc;
  text-align: right;
  width: 2rem;
  font-weight: 100;
}
