/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/scrollbars';

.topBar {
  height: $top-bar-height;
  min-height: $top-bar-height;
  max-height: $top-bar-height;

  z-index: $zIndex-topBar;

  width: 100vw;
  max-width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border-bottom: solid 0.1rem $gray-400;
  background: white;
  padding: 0;

  box-shadow: $box-shadow;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  min-width: 11rem;
  width: 11rem;
  height: 4vh;
  max-height: 100%;

  border-radius: $border-radius;
  border: none;

  font-size: 1.3rem;
  background: white;

  padding: 0.5rem;
  margin-left: 3vw;

  span {
    white-space: nowrap;
  }

  img {
    height: 2.5vh;
    margin-right: 1rem;
  }
}

.staticMenu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  height: 100%;
  overflow: hidden;
}

.foldingMenu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  height: 100%;

  .openButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0 2rem;

    background: none;
    border: none;
  }

  .closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;

    border: none;
    background: none;
  }

  .linksPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 4rem;

    position: fixed;
    top: $top-bar-height;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: $zIndex-topBar-links;

    background-color: white;
    border-radius: $border-radius;
    border: solid 0.1rem $gray-400;

    overflow-y: auto;

    .link {
      justify-content: flex-start;

      font-size: 1.2rem;
      min-width: unset;
      margin-bottom: 1rem;
    }
  }

  .menuTitle {
    padding-bottom: 2rem;
  }
}

.verticalBorder {
  height: 100%;
  border: none;
  border-right: solid 0.1rem $gray-300;
}

.spacer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gridIcon {
  height: 1.1rem;
  margin-left: 0.5rem;
}
