/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.toolSelector {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.titleRow {
  padding: 1rem 0.7rem;

  font-size: 1.1rem;
  font-weight: 600;
}

.toolsDisabled {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 1rem 0.7rem;

  color: $gray-600;
}

.toolsEnabled {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  color: $gray-600;

  .toolName {
    font-size: 1rem;
    font-weight: 600;

    padding: 0.2rem 0.5rem;

    color: white;
    background-color: $primary;
    border-radius: $border-radius;
  }

  .spacer {
    height: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 0.1rem $gray-400;
  }

  .buttonBar {
    display: flex;
    flex-direction: column;

    margin-right: 0.3rem;

    border-top: solid $gray-400 0.1rem;
    border-right: solid $gray-400 0.1rem;
    border-radius: $border-radius;
  }

  .toolOptions {
    flex-grow: 1;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    padding: 0.5rem;
  }
}
