/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.toolButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  margin: 0.3rem;
  padding: 0.6rem;

  border: none;
  background-color: inherit;
  border-radius: $border-radius;

  outline: 0;

  svg {
    width: 2rem;
    fill: $gray-600;
    stroke-linejoin: round;
  }

  &:hover {
    background-color: rgba($gray-600, 0.2);

    svg {
      fill: $gray-800;
    }
  }

  &.active {
    background-color: $primary;

    svg {
      fill: white;
    }
  }
}
