/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  flex-grow: 1;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;

  margin-bottom: 1rem;

  border: solid 0.1rem lightgrey;
  padding: 1rem;
}

.label {
  min-width: 10vw;
}

.value {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  input {
    width: 60% !important;
  }
}

.buttonNew {
  margin-left: 0.4rem;
  :global(.abc-icon) {
    color: $primary;
  }
}
