/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.navigationMenu {
  z-index: $zIndex-sharedMap-menu;

  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 30rem;

  @include media-breakpoint-down(xl) {
    width: auto;
    left: 1rem;
  }

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.95);
  border: solid 0.1rem $gray-400;
  border-radius: $border-radius;

  overflow-x: hidden;
  overflow-y: auto;

  h5 {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
  }
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0.5rem;
  padding: 0.5rem;

  border: none;
  border-radius: $border-radius;
  background-color: $control-color;
  box-shadow: $box-shadow;

  color: white;

  .icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: $secondary;

    .icon {
      opacity: 0.9;
    }
  }
}

.attributions {
  border-bottom: solid $gray-300 0.1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
}

.softwareCredits {
  display: flex;
  align-items: center;

  font-size: 1.1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    height: 1.3rem;
    margin-right: 1rem;
  }
}
