/**
 * Copyright © 2022 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/mixins';

.view {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 100%;
  max-height: 100%;
  overflow: auto;

  padding: 1rem 13vw;

  @include media-breakpoint-down(xl) {
    padding: 1rem;
  }

  h2 {
    margin: 2rem 0;
  }
}

.searchField {
  max-width: 45vw;

  @include media-breakpoint-down(md) {
    max-width: 90vw;
  }
}
