/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.shareLinkForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;

  margin-bottom: 3rem;
}

.sectionTitle {
  display: flex;
  align-items: center;

  font-weight: bold;
  margin: 1.5rem 0;
}

.iframeForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;

  margin-bottom: 1rem;
}
