/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.controls {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: $border-radius;
  border: solid 1px $gray-400;
  padding: 0.5rem;
  font-size: 1.4rem;

  button {
    border: none;
    background: none;
  }
}

.styleModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;

  margin-bottom: 0.5rem;
  margin-left: 1rem;

  input[type='checkbox'] {
    margin-right: 0.5rem;
  }
}
