/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.projectMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0 1rem;

  .toggleIcon {
    height: 2.2vh;
    max-height: 2.2vh;
    color: $gray-600;
  }

  :global(.dropdown-toggle) {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
  }

  :global(.dropdown-toggle::after) {
    content: none;
  }

  // We change colors of icons in disabled dropdown items
  :global(.disabled) :global(.abc-icon) {
    color: var(--bs-dropdown-link-disabled-color);
  }
}

.dropdown {
  width: 18rem;
  max-width: 22rem;

  img {
    height: 1.1rem;
    max-height: 1.1rem;
  }

  box-shadow: $box-shadow;
}

.active {
  text-decoration: underline;
}
