/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.6rem;

  :global(.abc-icon) {
    width: 1.1rem;
    height: 1.1rem;
  }

  @include media-breakpoint-down(xl) {
    :global(.abc-icon) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  :global(.abc-icon) {
    color: $gray-500;
  }

  &:hover {
    text-decoration: none;

    :global(.abc-icon) {
      color: $gray-700;
    }
  }
}
