/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/mixins';

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  max-height: 100%;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;

  font-size: 1.3rem;
  padding: 1rem;
}

.viewport {
  margin-left: 2vw;
  padding-bottom: 80vmin;
  padding-top: 5vmin;

  width: 60vw;

  @include media-breakpoint-down(xl) {
    width: 100%;
  }

  h1 {
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.followLink {
  margin-bottom: 4rem;
}
