/**
 * Copyright © 2022 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.7rem;
  height: 2.7rem;

  border-radius: $border-radius;
  border: solid 0.1rem $control-color;
  background-color: rgba(white, 0.9);
  box-shadow: $box-shadow;

  .icon {
    color: $control-color;
  }

  &:hover {
    background-color: $control-color;

    .icon {
      color: white;
    }
  }
}
