/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  max-height: 100%;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.viewport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 50vw;
  margin-right: 10vw;

  padding-top: 5vmin;
  padding-bottom: 80vmin;

  @include media-breakpoint-down(xl) {
    margin: 1rem;
    width: 100%;
  }
}

@mixin videoStyle() {
  width: 35vw;
  height: auto;

  @include media-breakpoint-down(xl) {
    width: 100%;
    height: auto;
  }

  border: solid 0.1rem $gray-400;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

:global(.youTubeIntegration) {
  @include videoStyle();

  // Youtube iframes have a very low height, we set to 9/16 of video width
  height: 19vw;
}

.toc {
  font-size: 1.15rem;
  padding: 1.5rem;

  p {
    display: flex;
    flex-direction: column;
  }

  a {
    margin: 0 0 1rem 2.5rem;
  }

  :global(.toc-section) {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 2rem 4rem 2rem;

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
  }

  h2 {
    font-size: 2rem;
    margin: 1.8rem 0 1rem 0;
  }

  h3 {
    font-size: 1.7rem;
    margin: 1.7rem 0 1rem 0;
  }

  figure {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
    margin: 0 0 1.5rem 0;
    border: 0.1rem darkgrey solid;
    border-radius: $border-radius;
  }

  img {
    border: solid 0.1rem lightgrey;
  }

  figcaption {
    font: italic smaller 'AbcCantarell';
    padding: 0.4rem;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  li {
    text-align: justify;
  }

  :global(.frequent-question) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    &::before {
      content: 'ℹ️️ ';
    }
  }

  a {
    color: $primary !important; // Important because some links does not have href attribute in documentation
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }
  }

  video {
    @include videoStyle();
  }
}
