/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';
@import 'src/styles/mixins';

.landing {
  display: flex;
  align-items: center;
  justify-content: stretch;

  height: 100%;

  font-size: 1.1rem;

  button {
    height: 3rem;
    width: 11rem;

    margin-left: 1rem;

    box-shadow: $box-shadow;
  }

  @include media-breakpoint-down(xl) {
    padding: 2rem;
  }
}

.container {
  @include media-breakpoint-up(xxl) {
    // On large screens container must be wide
    max-width: 75vw !important;
  }
}

.title {
  font-size: 4rem;
  font-weight: 900;
  background: #3f3d56;
  background: linear-gradient(to right, #0094e3 5%, #3f3d56 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 1rem;
}

.intro {
  font-size: 2rem;
  margin: 0.5rem 0 4rem 0;
  line-height: 1;
}

.authenticationButtons {
  margin-top: 4rem;
}

.spacer {
  height: 20vh;
}

.illustration {
  cursor: pointer;
  width: 45vw;

  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.bottomMentions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin-top: 7rem;

  @include media-breakpoint-down(xl) {
    margin-top: 10rem;
  }
}

.version {
  font-size: 0.9em;
  color: #ffffff;
}
