/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import 'src/styles/variables';

.selectionPanel {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .title {
    color: $gray-600;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;

    margin: 0.5rem 0;
    padding-bottom: 0.6rem;
    border-bottom: solid 0.1rem rgba($gray-600, 0.3);
  }
}
