/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0.3rem;

  width: 2rem;
  height: 2rem;

  font-size: 0.9rem;
  font-weight: 700;

  border-style: solid none;
  border-width: 0.1rem 0.1rem 0.3rem;
  border-color: #f5f5f5 transparent rgba(54, 54, 54, 0.27);
  border-radius: 0.3rem 0.3rem 0.4rem 0.4rem;

  background-color: #eff0f2;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.45);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #aaa;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0.1rem 0 #f5f5f5;
}
